* {
    margin: 0;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.map {
    height: 100%;
    width: 100%;
}

.controls {
    width: 200px;
    padding: 16px;
    border-radius: 2px;
    background: #fff;
    position: fixed;
    top: 8px;
    right: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.controls>label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.controls>label.lbl_line {
    color: #0000ff;
}

.controls>label.lbl_track {
    color: #ff0000;
}

.controls>input[type=file] {
    margin-bottom: 8px;
}

.controls>button {
    margin-top: 8px;
}

.controls>.result {
    display: none;
    margin-top: 16px;
}

.disclaimer {
    width: 100%;
    padding: 8px 0;
    text-align: center;
    position: fixed;
    bottom: 8px;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(0, 0, 0, .75);
}

hr {
    margin: 16px 0 8px 0;
    border: none;
    border-top: 1px solid #808080;
}